<div class="container">
  <h1>Crear nueva Pregunta</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="savePregunta()" #preguntaForm="ngForm">
        <div class="form-group">
          <label for="name">Pregunta</label>
          <input type="text" class="form-control" [(ngModel)]="pregunta.pregunta" name="pregunta" required>
        </div>

        <div class="form-group">
          <label for="name">Tipo</label>
          <select name="tipo" [(ngModel)]="pregunta.tipo" required>
                 <option value="Preparación" selected="selected">Preparación</option>
                 <option value="Asistencia">Asistencia</option>
                 <option value="Contribution">Contribución</option>
                 <option value="Respeto">Respeto</option>
                 <option value="Flexibilidad">Flexibilidad</option>
                 <option value="Comunicación">Comunicación</option>
                 <option value="Interdependencia">Interdependencia</option>
                 <option value="Logros">Logros</option>
                 <option value="Distribución">Distribución</option>
                 <option value="Productividad">Productividad</option>
                 <option value="Feedback">Feedback (Respuesta escrita)</option>


             </select>
           </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!pregunta.form.valid">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
