<div class="container">
  <h1>Cuestionarios
    <a [routerLink]="['/cuestionario-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>

        <th>Creado</th>
        <th>Hora</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cuestionario of cuestionarios">
        <td>{{ cuestionario.nombre }}</td>

        <td>{{ cuestionario.creado | date :  "dd MMM y" }}</td>
        <td>{{ cuestionario.creado | date :  "h:mm a" }}</td>


        <td><a [routerLink]="['/cuestionario-details', cuestionario._id]">Detalles</a></td>
      </tr>
    </tbody>
  </table>
</div>
