<div class="container">
  <h1>{{ assignation.title }}</h1>
  <dl class="list">
    <dt>Curso</dt>
    <dd>{{ assignation.idCurso.nombre }} Paralelo {{ assignation.idCurso.paralelo }}</dd>
    <dt>Persona</dt>
    <dd>{{ assignation.idUser.nombres }} {{ assignation.idUser.apellidos }}</dd>
    <dt>Matrícula</dt>
    <dd>{{ assignation.idUser.identificacion }}</dd>
    <dt>Grupo</dt>
    <dd>{{ assignation.grupo }}</dd>

  </dl>
</div>
<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/assignation-edit', assignation._id]" class="btn btn-success">EDITAR</a>
    <button class="btn btn-danger" type="button" (click)="deleteAssignation(assignation._id)">BORRAR</button>
    <a [routerLink]="['/assignations']" class="btn btn-info">VOLVER</a>

  </div>
</div>
