<div class="container">
  <h1>Crear nuevo Assessment</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveAssessment()" #assessmentForm="ngForm">
        <div class="form-group">
          <label for="name">Nota Máxima</label>
          <input type="text" class="form-control" [(ngModel)]="assessment.puntaje" name="puntaje" required>
        </div>
        <div class="form-group">
          <label for="name">Evaluación</label>
          <input type="text" class="form-control" [(ngModel)]="assessment.evaluacion" name="evaluacion" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!assessmentForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
