<!--

<div class="container">
  <h1>Videos
    <a [routerLink]="['/video-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </h1>
</div>


  <div class="video">

    <video width="320" height="240" controls>
  <source  src="http://www.ppl.espol.edu.ec//ppl0.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="video">

  <video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl1.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="video">

  <video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl2.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="video">

  <video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl3.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="video">

  <video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl4.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="video">

  <video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl5.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="video">

  <video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl6.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="video">

  <video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl7.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="video">

  <video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl8.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl9.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl10.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>



<div class="video">

  <video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl11.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="video">

  <video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl12.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="video">

  <video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl13.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="video">

  <video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl14.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="video">

  <video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl15.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="video">

  <video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl16.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="video">

  <video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl17.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="video">

  <video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl18.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="video">
<video width="320" height="240" controls>
<source  src="http://www.ppl.espol.edu.ec//ppl19.mp4"  type="video/mp4">
Your browser does not support the video tag.
</video>

</div>
-->
