<div class="container">
  <h1>Crear nuevo Curso</h1>
  <div class="row">
      <form (ngSubmit)="saveCurso()" #cursoForm="ngForm">
        <div class="form-group">
          <label for="name">Materia</label>
          <select   [(ngModel)]="curso.idMateria" (ngModelChange)="onChange($event)" name="idMateria" required>
            <option *ngFor="let c of materias" [ngValue]="c._id">{{c.nombre}} Código {{c.cod_materia}}</option>
         </select>        </div>
         <div class="form-group">
           <label for="name">Nombre</label>
           <input type="text" class="form-control" (ngModelChange)="onChange1($event)" [(ngModel)]="curso.nombre" name="nombre" disabled required>
         </div>
         <div class="form-group">
           <label for="name">Código</label>
           <input type="text" class="form-control" [(ngModel)]="curso.cod_materia" name="cod_materia" required>
         </div>
        <div class="form-group">
          <label for="name">Año</label>
          <input type="text" class="form-control" [(ngModel)]="curso.anio" name="anio" required>
        </div>

        <div class="form-group">
          <label for="name">Término</label>

          <select name="tipo" [(ngModel)]="curso.termino" required>
                  <option value="1T" >1T</option>
                 <option value="2T">2T</option>
                <option value="Regular" >Regular</option>
                 <option value="Intensivo">Intensivo</option>
             </select>
                   </div>
        <div class="form-group">
          <label for="name">Paralelo</label>
          <input type="text" class="form-control" [(ngModel)]="curso.paralelo" name="paralelo" required>
        </div>

        <div class="form-group">
          <label for="name">Número de Grupos</label>
          <input type="number" class="form-control" [(ngModel)]="curso.numgrupos" name="numgrupos" required>
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!curso.form.valid">Crear Curso</button>
        </div>
      </form>

  </div>
</div>
