<div class="container">
  <h1>{{ assessment.title }}</h1>
  <dl class="list">
    <dt>ISBN</dt>
    <dd>{{ assessment.puntaje }}</dd>
    <dt>Author</dt>
    <dd>{{ assessment.evaluacion }}</dd>
  </dl>
</div>
<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/assessment-edit', assessment._id]" class="btn btn-success">EDITAR</a>
    <button class="btn btn-danger" type="button" (click)="deleteAssessment(assessment._id)">BORRAR</button>
    <a [routerLink]="['/assessments']" class="btn btn-info">VOLVER</a>

  </div>
</div>
