<div class="container">
  <h1>Editar curso</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updateCurso(curso._id)" #cursoForm="ngForm">

         <div class="form-group">
           <label for="name">Nombre</label>
           <input type="text" class="form-control" (ngModelChange)="onChange1($event)" [(ngModel)]="curso.nombre" name="nombre" disabled required>
         </div>
         <div class="form-group">
           <label for="name">Código</label>
           <input type="text" class="form-control" [(ngModel)]="curso.cod_materia" name="cod_materia" disabled required>
         </div>
        <div class="form-group">
          <label for="name">Año</label>
          <input type="text" class="form-control" [(ngModel)]="curso.anio" name="anio"disabled required>
        </div>

        <div class="form-group">
          <label for="name">Término</label>
          <input type="text" class="form-control" [(ngModel)]="curso.termino" name="termino"disabled required>
        </div>
        <div class="form-group">
          <label for="name">Paralelo</label>
          <input type="text" class="form-control" [(ngModel)]="curso.paralelo" name="paralelo"disabled required>
        </div>
      <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!cursoForm.form.valid">Update</button>
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <h2>Profesores del Paralelo</h2>
    <a [routerLink]="['/curso-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    <table class="table">
      <thead>
        <tr>
          <th>email</th>
          <th>nombres</th>
          <th>apellidos</th>
          <th>tipo</th>



        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of profesores">
          <td>{{ list.email }}</td>
          <td>{{ list.nombres }}</td>
          <td>{{ list.apellidos }}</td>
          <td>{{ list.tipo }}</td>


        </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
    <h2>Estudiantes del Paralelo</h2>
    <a [routerLink]="['/curso-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    <table class="table">
      <thead>
        <tr>
          <th>identificacion</th>
          <th>email</th>
          <th>nombres</th>
          <th>apellidos</th>
          <th>tipo</th>
          <th>Grupo</th>



        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of estudiantes">
          <td>{{ list.identificacion }}</td>
          <td>{{ list.email }}</td>
          <td>{{ list.nombres }}</td>
          <td>{{ list.apellidos }}</td>
          <td>{{ list.tipo }}</td>
          <td>{{ list.grupo }}</td>


        </tr>
      </tbody>
    </table>
  </div>
  <div class="container">

<!--  <h1>Subir Lista de Estudiantes al curso</h1>

  <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Subir archivo .xlsx" accept=".xlsx">
  <button type="button" class="btn btn-info" (click)="Upload()" >Importar Estudiantes</button>
  <button type="button" class="btn btn-success" (click)="createUsers()" >Añadir al Curso</button>


  <div class="container">
    <h2>Estudiantes del Paralelo</h2>
    <table class="table">
      <thead>
        <tr>
          <th>identificacion</th>
          <th>email</th>
          <th>nombres</th>
          <th>apellidos</th>
          <th>tipo</th>
          <th>Grupo</th>



        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of lista">
          <td>{{ list.identificacion }}</td>
          <td>{{ list.email }}</td>
          <td>{{ list.nombres }}</td>
          <td>{{ list.apellidos }}</td>
          <td>{{ list.tipo }}</td>
          <td>{{ list.grupo }}</td>


        </tr>
      </tbody>
    </table>
  </div>
-->
</div>
</div>
