<div class="container">
  <h1>Assessments Finalizados

  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Puntaje</th>
        <th>Evaluacion</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let assessment of assessments">
        <td>{{ assessment.wfestudiante| number : '1.3-3' }}</td>
        <td>{{ assessment.idEvaluacion.nombre }}</td>
        <td>{{ assessment.fechaInicioTomada  | date: "dd MMM y hh:mm a" }}</td>
        <td>{{ assessment.fechaTerminada  | date: "dd MMM y hh:mm a" }}</td>
        <td><a [routerLink]="['/estudiante-detalle', assessment._id]">Detalles</a></td>
      </tr>
    </tbody>
  </table>
</div>
