<div class="container">
  <h1>Edit assignation</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updateAssignation(assignation._id)" #assignationForm="ngForm">
        <div class="form-group">
          <label for="name">Curso</label>

                     <select   [(ngModel)]="assignation.idCurso" (ngModelChange)="onChange($event)" name="idCurso" required>
                       <option *ngFor="let c of cursos" [ngValue]="c._id">{{c.nombre}} Paralelo {{c.paralelo}}</option>
                 </select>

                   </div>

                   <div class="form-group">
                     <label for="name">Usuario</label>


                        <select   [(ngModel)]="assignation.idUser" (ngModelChange)="onChange1($event)" name="idUser" required>
                          <option *ngFor="let u of usuarios" [ngValue]="u._id">{{u.nombres }} {{u.apellidos }} M: {{u.identificacion}} ({{u.tipo}})</option>
                    </select>

                      </div>
        <div class="form-group">
          <label for="name">Grupo</label>
          <input type="text" class="form-control" [(ngModel)]="assignation.grupo" name="grupo" required>
        </div>
      <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!assignationForm.form.valid">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
