<div class="container">
  <h1>{{ cuestionario.title }}</h1>
  <dl class="list">
    <dt>Nombre</dt>
    <dd>{{ cuestionario.nombre }}</dd>
    <dt>Creado</dt>
    <dd>{{ cuestionario.creado | date :  "dd MMM y" }}</dd>
    <dt>Preguntas</dt>
    <ul *ngFor="let pregunta of cuestionario.preguntas">
      <li>{{ pregunta }}</li>



    </ul>
 
  </dl>
</div>
<div class="row">
  <div class="col-md-12">
    <!--<a [routerLink]="['/cuestionario-edit', cuestionario._id]" class="btn btn-success">EDITAR</a>-->
    <button class="btn btn-danger" type="button" (click)="deleteCuestionario(cuestionario._id)">BORRAR</button>
    <a [routerLink]="['/cuestionarios']" class="btn btn-info">VOLVER</a>

  </div>
</div>
