<div class="container">
  <h1>Edit evaluacion</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updateEvaluacion(evaluacion._id)" #evaluacionForm="ngForm">
        <div class="form-group">
          <label for="name">Número</label>
          <input type="number" class="form-control" [(ngModel)]="evaluacion.numero" name="numero" required>
        </div>
        <div class="form-group">
          <label for="name">Tipo</label>
          <input type="text" class="form-control" [(ngModel)]="evaluacion.tipo" name="tipo" required>
        </div>
        <div class="form-group">
          <label for="name">Capítulo</label>
          <input type="number" class="form-control" [(ngModel)]="evaluacion.capitulo" name="capitulo" required>
        </div>
        <div class="form-group">
          <label for="name">Cuestionario</label>
          <input type="number" class="form-control" [(ngModel)]="evaluacion.cuestionario" name="cuestionario" required>
        </div>
        <div class="form-group">
          <label for="name">Fecha de Inicio</label>
          <input type="date" class="form-control" [(ngModel)]="evaluacion.fechaInicioTomada" name="fechaInicioTomada" required>
        </div>

        <div class="form-group">
          <label for="name">Fecha Finalización</label>
          <input type="date" class="form-control" [(ngModel)]="evaluacion.fechaTerminada" name="fechaTerminada" required>
        </div>

      </form>
    </div>
  </div>
</div>
