<div class="container">
  <h1>{{ evaluacion.title }}</h1>
  <dl class="list">
    <dt>Número</dt>
    <dd>{{ evaluacion.numero }}</dd>
    <dt>Tipo</dt>
    <dd>{{ evaluacion.tipo }}</dd>
    <dt>Capítulo</dt>
    <dd>{{ evaluacion.capitulo }}</dd>
    <dt>Cuestionario</dt>
    <dd>{{ cuestionario.nombre }}</dd>
    <dt>Fecha de Inicio</dt>
    <dd>{{ evaluacion.fechaInicioTomada }}</dd>
    <dt>Fecha de Finalización</dt>
    <dd>{{ evaluacion.fechaTerminada }}</dd>

    <dt>Creado</dt>
    <dd>{{ cuestionario.creado }}</dd>
    <dt>Preguntas</dt>
    <tr *ngFor="let pregunta of cuestionario.preguntas">
      <td>{{ pregunta }}</td>

  </dl>
</div>
<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/evaluacion-edit', evaluacion._id]" class="btn btn-success">EDIT</a>
    <button class="btn btn-danger" type="button" (click)="deleteEvaluacion(evaluacion._id)">DELETE</button>
  </div>
</div>
