<div class="container">
    <form class="form-signin" (ngSubmit)="signup()" #signupForm="ngForm">
        <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{message}}
        </div>
        <h2 class="form-signin-heading">Registrarse a un curso</h2>
        <label for="nombres" class="sr-only">Nombres</label>
        <input type="text" class="form-control" placeholder="Nombres" [(ngModel)]="signupData.nombres" name="nombres" required/>
        <label for="apellidos" class="sr-only">Apellidos</label>
        <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="signupData.apellidos" name="apellidos" required/>
        <label for="identificacion" class="sr-only">Matrícula</label>
        <input type="text" class="form-control" placeholder="Cédula" [(ngModel)]="signupData.identificacion" name="identificacion" required/>
        <div class="form-control">
          <label for="tipo">Tipo</label>
          <select  name="tipo" [(ngModel)]="signupData.tipo" required>
                 <option value="Estudiante" selected="selected">Estudiante</option>
             </select>
           </div>
           <div class="form-control">

             <label for="name">Elegir Cursos</label>


              <!--  <select multiple  [(ngModel)]="idcurso" (ngModelChange)="onChange($event)" name="idCurso" required>
                  <option *ngFor="let c of cursos" [ngValue]="c._id">{{c.nombre}} Paralelo {{c.paralelo}}</option>
            </select>-->
            <tr *ngFor="let c of cursos">
              <td>

                  <!-- evento change y atributo por defecto checked false, se agrega como id el id de la persona
                para luego saber que checkbox le pertenece a cada persona-->
                  <input  [checked]="false" (change)="select(c._id)" id="{{c._id}}" type="checkbox" class="filled-in" required />

                  <label  attr.for="{{c._id}}"></label>


                </td>
              <td>{{c.nombre}} Paralelo {{c.paralelo}}</td>



            </tr>
          </div>


        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" class="form-control" placeholder="Correo Personal" [(ngModel)]="signupData.email" name="email" required/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="signupData.password" name="password" required/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!signupForm.form.valid">Registrarse</button>
    </form>
</div>
