<h1>
Grupos</h1>
<p>
Seleccionar Paralelo</p>

<h1>
Número de Grupos del Paralelo: {{ numgrupos }}</h1>
<p>

<select  disabled={{gruposel}} [(ngModel)]="cursoSeleccionado" (ngModelChange)="onChange($event)" name="idCurso" required>
  <option *ngFor="let c of cursos" [ngValue]="c._id">{{c.nombre}} Paralelo {{c.paralelo}}</option>
</select>

<div class="container">
  <h2>Estudiantes del Paralelo</h2>
  <button type="button" *ngIf="!isLoading" class="btn btn-info"  disabled={{buttonrecDisabled}} (click)="actgrupos()" >Recargar Grupos</button>
  <button type="button" align="center" class="btn btn-warning" disabled={{buttonactDisabled}} (click)="editargrupos()" >Editar Grupos</button>
  <button type="button" align="right" class="btn btn-success right" disabled={{buttonDisabled}} (click)="actualizarGrupos()" >Actualizar</button>


  <div *ngIf="!isLoading && tables">
  <table datatable [dtOptions]="dtOptionsGrupo" class="row-border hover">
    <thead>
      <tr>
        <th>identificacion</th>
        <th>email</th>
        <th>nombres</th>
        <th>apellidos</th>
        <th>tipo</th>
        <th>Grupo Actual</th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of estudiantestable">
        <td>{{ list.identificacion }}</td>
        <td>{{ list.email }}</td>
        <td>{{ list.nombres }}</td>
        <td>{{ list.apellidos }}</td>
        <td>{{ list.tipo }}</td>

        <td>{{ list.grupo }}</td>
      </tr>
    </tbody>
  </table>
  </div>
  <table *ngIf="!tables" datatable [dtOptions]="dtOptionsGrupo" class="row-border hover">


    <thead>
      <tr>
        <th>identificacion</th>
        <th>email</th>
        <th>nombres</th>
        <th>apellidos</th>
        <th>tipo</th>
        <th>Grupo Actual</th>
        <th>Cambiar grupo</th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of estudiantes">
        <td>{{ list.identificacion }}</td>
        <td>{{ list.email }}</td>
        <td>{{ list.nombres }}</td>
        <td>{{ list.apellidos }}</td>
        <td>{{ list.tipo }}</td>

        <td>{{ list.grupo }}</td>
        <td><input type="number"  [(ngModel)]="list.grupo" name="grupo" required></td>


      </tr>
    </tbody>
  </table>
</div>
