<div class="container">
  <h1>{{ pregunta_assessment.title }}</h1>
  <dl class="list">
    <dt>Puntaje</dt>
    <dd>{{ pregunta_assessment.puntaje }}</dd>
    <dt>Comentario</dt>
    <dd>{{ pregunta_assessment.comentario }}</dd>


  </dl>
</div>
<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/pregunta_assessment-edit', pregunta_assessment._id]" class="btn btn-success">EDIT</a>
    <button class="btn btn-danger" type="button" (click)="deletePregunta_assessment(pregunta_assessment._id)">DELETE</button>
  </div>
</div>
