<div class="container" style="width:65%;">
  <h1>Perfil</h1>
  <br>
  <div class="row">
    <div class="col-sm">
      <h4><strong>Nombre</strong></h4>
      <span>{{ usuario.nombres }} {{ usuario.apellidos }}</span>
    </div>
    <div class="col-sm">
      <h4><b>Email</b></h4>
      <span>{{ usuario.email }}</span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <h4><b>Identificación</b></h4>
      <span>{{ usuario.identificacion }}</span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <h4><b>Tipo</b></h4>
      <span>{{ usuario.tipo }}</span>
    </div>
  </div>




<table  class="table">
  <thead>
    <tr>
      <th>Cursos</th>
      <th>Paralelo</th>



    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let curso of cursos">
      <td>{{ curso.nombre }}</td>
      <td>{{ curso.paralelo }}</td>

    </tr>
  </tbody>
</table>
</div>
