<div class="container">
  <h1>Cursos
    <a *ngIf=(esadmin) [routerLink]="['/curso-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </h1>
  <table class="table" >
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Año</th>
        <th>Término</th>
        <th>Código de Materia</th>
        <th>Paralelo</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curso of cursos">
        <td>{{ curso.nombre }}</td>
        <td>{{ curso.anio }}</td>
        <td>{{ curso.termino }}</td>
        <td>{{ curso.cod_materia }}</td>
        <td>{{ curso.paralelo }}</td>

        <td><a [routerLink]="['/curso-edit', curso._id]">Detalles</a></td>
      </tr>
    </tbody>
  </table>
</div>
