<div class="container">
  <h1>{{ pregunta.title }}</h1>
  <dl class="list">
    <dt>Pregunta</dt>
    <dd>{{ pregunta.pregunta }}</dd>
    <dt>Tipo</dt>
    <dd>{{ pregunta.tipo }}</dd>


  </dl>
</div>
<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/pregunta-edit', pregunta._id]" class="btn btn-success">EDITAR</a>

    <button  *ngIf=(esadmin) class="btn btn-danger" type="button" (click)="deletePregunta(pregunta._id)">BORRAR</button>
    <a [routerLink]="['/preguntas']" class="btn btn-info">VOLVER</a>

  </div>
</div>
