<div class="container">
  <h1>{{ evaluacion.idEstudiante.nombres }} {{ evaluacion.idEstudiante.apellidos }}</h1>
  <dl class="grid-dl">
    <dt>Realizó el assessment?:</dt>
    <dd class="glyphicon glyphicon-ok" *ngIf="evaluacion.haevaluado"></dd>
    <dd class="glyphicon glyphicon-remove" *ngIf="!evaluacion.haevaluado"></dd>
    <dt>Materia:</dt>
    <dd>{{ evaluacion.idCurso.nombre }}</dd>
    <dt>Paralelo:</dt>
    <dd>{{ evaluacion.idCurso.paralelo }}</dd>
    <dt>Grupo:</dt>
    <dd>{{ evaluacion.idGrupo.nombre }}</dd>
    <dt>Evaluación:</dt>    <dd>{{ evaluacion.idEvaluacion.nombre}}</dd>
    <dt>Capítulo:</dt>    <dd>{{ evaluacion.idEvaluacion.capitulo}}</dd>
    <dt>A cuántos Compañeros evaluó?:</dt>
    <dd>{{ evaluacion.evaluaste }}</dd>
    <dt>Cuántos Compañeros lo Evaluaron?:</dt>
    <dd>{{ evaluacion.hanrealizado }}</dd>
    <dt>WF Grupal:</dt>
    <dd>{{ evaluacion.idEvaluacionGrupo.wfgrupo | number : '1.3-3'}}</dd>
    <dt>WF Individual:</dt>
    <dd>{{ evaluacion.wfestudiante | number : '1.3-3'}}</dd>


  </dl>

  <div align="center">
<h1 class="center">Retroalimentación</h1>  </div>

<table class="table" >
  <thead>
    <tr>
      <th># de Estudiante</th>
      <th>Feedback</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comentario of evaluacion.comentarios;let i=index">
      <td>{{i+1}}</td>
      <td>{{ comentario}}</td>


    </tr>
  </tbody>
</table>
</div>
<div class="row">
  <div class="col-md-12">
  <!--  <a [routerLink]="['/evaluacion-edit', evaluacion._id]" class="btn btn-success">EDITAR</a>-->

    <a [routerLink]="['/assessments']" class="btn btn-info">VOLVER</a>

  </div>
</div>
