<input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
<button type="button" class="btn btn-info" (click)="Upload()" >Upload</button>

<div class="container">
  <h1>Estudiantes del Paralelo</h1>
  <table class="table">
    <thead>
      <tr>
        <th>identificacion</th>
        <th>nombres</th>
        <th>apellidos</th>
        <th>tipo</th>
        <th>email</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of lista">
        <td>{{ list.identificacion }}</td>
        <td>{{ list.nombres }}</td>
        <td>{{ list.apellidos }}</td>
        <td>{{ list.tipo }}</td>
        <td>{{ list.email }}</td>

      </tr>
    </tbody>
  </table>
</div>
