<div class="container">
  <h1>Assessments por Realizar

  </h1>
  <a (click)="recargar()" class="btn btn-default btn-lg">Recargar
    <span class="	glyphicon glyphicon-refresh" aria-hidden="true"></span>
  </a>
<table class="table">
  <thead>
    <tr>
      <th>Materia</th>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
      <th>Estudiante a Evaluar</th>
      <th>Tipo</th>
      <th>Acción</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let assessment of assessments">
      <td>{{ assessment.idCurso.nombre }}</td>
      <td>{{ assessment.fechaInicioTomada  | date: "dd MMM y hh:mm a" }}</td>
      <td>{{ assessment.fechaTerminada  | date: "dd MMM y hh:mm a" }}</td>

      <td *ngIf="(assessment.idEvaluacion.tipo=='Peer') || (assessment.idEvaluacion.tipo=='Self')">{{ assessment.idEstudianteEvaluar.nombres }} {{ assessment.idEstudianteEvaluar.apellidos }}</td>
      <td *ngIf="assessment.idEvaluacion.tipo=='Team'"> Grupo {{ assessment.idGrupo.nombre }}</td>
      <td>{{ assessment.idEvaluacion.tipo }}</td>
      <td ><a [routerLink]="['/inicio-realizar', assessment._id]">Realizar</a></td>

    </tr>
  </tbody>
</table>

<h3 style="color:blue;"> <a *ngIf=(validar) >Usted no cuenta con evaluaciones pendientes</a></h3>
<h3 style="color:red;"> <a *ngIf=(!validar) >Usted aún tiene evaluaciones pendientes, de no hacerlas su nota será cero</a></h3>


</div>
